* {
  margin: 0;
  padding: 0;

}

/*Modifs*/
header  {
  height: 15vh;
  padding: 1%;
  background-image: url(images/fond.jpg);

}
/**************************************************/


header h1 {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size:50px;
}

footer {
  background-image: url(images/fond.jpg);
}



/* MENU DEROULANT */
nav {
  margin: 0 auto;
  position: sticky;
  top: 0;
}

.navHeader {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1%;
}

.navHeader li {
  float: left;
  width: 50%;
  text-align: center;
  list-style: none;
}

nav .navHeader a  {
  display: block;
  text-decoration: none;
  color: black;
}
header nav a:hover, .footer-éléments a:hover{
  color: orange;
}
.footer-éléments a {
  text-decoration: none;
  color: black;
}
.sous {
  display: none;
  position: absolute;
  width: 40%;
  background-color: rgb(214, 192, 164);
  padding: 0.5%;
}
.sous a{
  white-space: nowrap;
}
@media screen and (max-width:480px) {
  .sous {
    left: 30%;
    width: 100%;
  }
}
@media (max-width:799px) {
  .sous {
    right: 0;
    width: 80%;
  }
}

nav > .navHeader li:hover .sous {
  display: flex;
  justify-content: center;

}

.deroulant >a::after {
    content: "▼";
}

/* FOOTER */

footer{
  width: 100%;
  padding: 1rem 0;
  font-family: 'Gotu', sans-serif;
}
.footer-éléments{
  max-width: 1300px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.newsletter, .sites-externes, .catégories, .revenir-en-haut{
  flex: 1 0;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}
.newsletter input::placeholder, .newsletter input textarea, .textfield{
  text-align: center;
}
.newsletter p{
  text-align: center;
  margin: 1rem 0;
}
.form-newsletter{
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.form-newsletter button, .form-newsletter input{
  flex: 1;
  width: auto;
}
.form-newsletter input{
  width:80%;
}
.catégories nav, .footer-nav-catégories{
  height: 100%;
}
.footer-nav-catégories, .footer-nav-sites-externes{
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.revenir-en-haut{
  align-self: center;
}
.revenir-en-haut a{
  width: 25%;
}
.revenir-en-haut a img{
  width: 100%;
  height: 100%;
}
@media (max-width:799px) {
  .footer-éléments{
    flex-direction: column;
  }
  .revenir-en-haut a{
    width: 10%;
  }
}

/* AUTRES */
h1{
  font-family: 'Indie Flower', cursive;
}
h2 {
  margin: 1rem;
  font-family: 'Inria Serif', serif;
}
h3 {
  margin: 1rem;
  font-family: 'Inria Serif', serif;
}
h6{
  margin: 1rem 0;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 130%;
}
.trait, .trait1, .traitBlanc, .trait-vert, .trait-violet{
  white-space: nowrap;
  font-family: 'Indie Flower', cursive;
}
.trait::after, .trait::before,.trait1::after, .trait1::before, .traitBlanc::after, .traitBlanc::before, .trait-vert::before, .trait-vert::after, .trait-violet::before, .trait-violet::after{
  width: 24%;
  content:'';
  display:inline-block;
  vertical-align: middle;
  height: 2px;
  white-space: nowrap;
}
.trait::after, .trait::before{
  background: #e2c4a1;
}
.trait1::after, .trait1::before{
  background: #f52101;
}
.traitBlanc::after, .traitBlanc::before{
  background: white;
}
.trait-vert::before, .trait-vert::after{
  background: #063200;
}
.trait-violet::before, .trait-violet::after{
  background: #46002E;
}
@media screen and (max-width:799px){
  .trait1::after, .trait1::before, .trait::after, .trait::before, .traitBlanc::after, .traitBlanc::before, .trait-vert::before, .trait-vert::after, .trait-violet::before, .trait-violet::after{
    width: 20%;
  }
}

/* PRESENTATION */
.body-presentation{
  background: linear-gradient(to right, #D6A4A4, #DAE2F8);
  font-family: 'Gotu', sans-serif;
}
.main-presentation{
  background-color: white;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.main-presentation-corps{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
@media (max-width:799px) {
  .main-presentation-corps{
    flex-direction: column;
  }
  .presentation-slide-jardins{
    margin: 1rem auto;
  }
}
@media (min-width:800px) {
  .presentation-slide-jardins{
    margin: 2rem;
  }
}
.presentation-slide-jardins img{
  max-width: 100%;
}
.miniature input[type=radio]{
  position: absolute;
  visibility: hidden;
}
.presentation-slide-jardins label{
  cursor:pointer;
}
.miniature label:hover{
  border-bottom:1rem solid rgba(214,164,164,0.7);
}
.presentation-slide-jardins{
  overflow: hidden;
  position: relative;
  max-width: 600px;
  flex: 1;
}
.photos-mini{
  padding-top: 76%;
  display: flex;
}
.miniature{
  flex: 1;
  padding:0.25rem;
}
.fenetre{
  object-fit: cover;
  position: absolute;
  top: 0;
  transition:all 0.5s;
  left: -100%;
  opacity: 0;
}
.fen:checked ~ .fenetre{
  left: 0;
  opacity: 1;
}
.presentation-accroche{
  border: 1px solid rgba(214,164,164,1);
  border-radius: 50px;
  margin: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.presentation-accroche p{
  text-align: justify;
  margin: 1rem;
}
.jardin-botanique{
  margin: 1rem;
}
.jardin-botanique p{
  margin: 1rem;
}
.presentation-catégories-liste{
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.presentation-catégories-liste li{
  width:20%;
  height:20%;
  border: 1px solid rgba(214,164,164,1);
  border-radius: 50px;
  position: relative;
  width: 200px;
  height: 200px;
  margin: 1rem;
}
@media (max-width:799px) {
  .presentation-catégories-liste li{
    width: 100px;
    height: 100px;
    margin: 0.5rem;
  }
}
.presentation-catégories-liste li a{
  width: 100%;
  height: 100%;
}
.presentation-catégories-liste img{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
figcaption{
  border-radius: 50px;
  height: 100%;
  width: 100%;
  z-index: 2;
  position: absolute;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
  font-weight: bold;
  font-size: 120%;
  font-style: italic;
}
.presentation-catégories-liste li:hover figcaption{
  visibility: visible;
  background: rgba(214,164,164,0.7);
}
.h1-presentation{
  text-align: center;
  margin: 1rem;
  white-space: nowrap;
  font-family: 'Indie Flower', cursive;
}
.h2-presentation{
  margin: 1rem;
  padding: 0;
}

/* CATEGORIES */

.body-categories{
  font-family: 'Gotu', sans-serif;
}
.main-categories{
  text-align: center;
  max-width:1700px;
  margin: 0 auto;
  font-family: 'Gotu', sans-serif;
}
#main-categories-arbustes{
  background-color: #e6ddd4;
}
#main-categories-fleurs{
  background-color: #f2ecde;
}
#main-categories-legumes{
  background-color: #DBE2BB;
}
#main-categories-plantes{
  background-color: #FFCFE5;
}
.categories-title{
  min-height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#categories-title-arbustes{
  background-image: url(images/balcon.jpg);
}
#categories-title-fleurs{
  background-image: url(images/fondFleur.jpg);
}
#categories-title-legumes{
  background-image: url(images/potagerbalcon.jpg);
}
#categories-title-plantes{
  background-image: url(images/plantesbalcon.jpg);
}
.categories-fondtranspent{
  padding: 0;
  max-width: 1000px;
  min-height:50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 100px 100px 0 0;
}
#categories-fondtranspent-arbustes{
  background-color: rgba(255, 255, 255, 0.7);
}
#categories-fondtranspent-fleurs{
  background-color: #fbda21a8;
}
#categories-fondtranspent-legumes{
  background-color: rgba(184, 214, 164, 0.7);
}
#categories-fondtranspent-plantes{
  background-color: rgba(255, 187, 218, 0.8);
}
.h2-categories{
  padding: 0;
  margin: 2rem;
  font-family: 'Indie Flower', cursive;
}
.categories-fondtranspent p{
  margin: 1rem;
}
.nav-categories{
  max-width: 1000px;
  width:100%;
  padding: 1% 0;
  border-radius: 0 0 50px 50px;
}
#nav-categories-arbustes{
  background-color: #e2c4a1;
}
#nav-categories-fleurs{
  background-color: #f85137;
}
#nav-categories-legumes{
  background-color: #ACBF65;
}
#nav-categories-plantes{
 background-color: #D64F8D;
}
.nav-categories a{
  margin: 1%;
  padding: 1.4%;
  text-decoration: none;
  color: black;
  border-radius: 10px;
}
.nav-a-arbustes:hover{
  background: linear-gradient(to top, white, rgba(255, 0, 0, 0));
  border-bottom: 5px solid #715739;
  font-weight: bold;
  color: #715739;
}
.nav-a-fleurs:hover{
  background: linear-gradient(to top, white, rgba(255, 0, 0, 0));
  border-bottom: 5px solid #f52101;
  font-weight: bold;
  color: #f52101;
}
.nav-a-legumes:hover{
  background: linear-gradient(to top, white, rgba(255, 0, 0, 0));
  border-bottom: 5px solid #063200;
  color: #063200;
  font-weight: bold;
}
.nav-a-plantes:hover{
  background: linear-gradient(to top, white, rgba(255, 0, 0, 0));
  border-bottom: 5px solid #46002E;
  color: #46002E;
  font-weight: bold;
}
@media screen and (max-width:799px) {
  .nav-categories a{
    display: block;
    max-width:70%;
    margin: 0 auto;
  }
}
.bloc{
  padding: 1rem;
}
.actus{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.actus article{
  text-align: justify;
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.actus article p{
  padding: 1rem;
}
.actus article h3{
  text-align: center;
}
.actus article img{
  width: 50%;
  margin: 1rem;
}
@media screen and (max-width:799px) {
  .actus{
    flex-direction: column;
  }
  .actus article img{
    width:30%;
  }
}
#bloc-conseils-arbustes{
  background-color: #e2c4a1;
}
#bloc-conseils-fleurs{
  background-color: #f76c56;
}
#bloc-conseils-legumes{
  background-color: #ACBF65;
}
#bloc-conseils-plantes{
  background-color: #D64F8D;
}
.conseils{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width:799px) {
  .conseils{
    flex-direction: column;
  }
  .conseils li{
    text-align: center;
    justify-content: center;
    margin: 1rem;
  }
}
@media (min-width:800px){
  .conseils li{
    padding-left: 10%;
    margin: 0.6rem;
  }
}
.conseils h3{
  text-align: center;
}
.conseils section{
  flex:1;
  text-align: left;
  margin: 0 1rem 1rem 1rem;
}
.conseils li{
  list-style: none;
  align-items: flex-start;
  display: flex;
}
.conseils p{
  text-align: justify;
}
.icon{
  width: 3%;
  min-width: 18px;
}
.divPhotos{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.photoGris{
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}
.photoGris:hover{
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}
.image{
  margin: 0.2rem;
  width: 230px;
}
.image img{
  width: 100%;
  margin-top: 1rem;
}
.image p{
  visibility: hidden;
}
.image .p-arbustes{
  background: #e2c4a1;
}
.image .p-fleurs{
  background: #f52101;
  color: white;
}
.image .p-legumes{
  background: #ACBF65;
}
.image .p-plantes{
  background: #D64F8D;
}
.image img:hover + p{
  visibility: visible;
}
.photos{
  padding: 1rem;
}
.etoile, .etoileRouge, .etoile-pink, .etoile-violette, .etoileBeige{
	display: block;
	clear: both;
	padding: 0;
	border: 0;
	font-family: arial;
	text-align: center;
	font-size: 25px;
	line-height: 1;
  margin: 1rem auto;
}
.etoile:after, .etoileRouge:after, .etoile-pink:after, .etoile-violette:after, .etoileBeige:after{
	content: "\273D \273D \273D \273D \273D";
}
.etoile:after{
  color: black;
}
.etoileRouge:after{
  color:#f52101;
}
.etoile-pink:after{
	color: #D6A4A4;
}
.etoile-violette:after{
  color: #46002E;
}
.etoileBeige:after {
  color: #e2c4a1;
}

/* ARBUSTES */

/* PAGE FLEURS */

/*PAGE D ACCUEIL*/

.accueil {
  text-align: center;
}

.accueil h1 {
  padding-top: 3%;
  font-family: 'Inria Serif', serif;
}

.accueilIntro {
  width: 80%;
  margin: 3% auto 4%;
  font-size: 25px;
  font-family: 'Indie Flower', cursive;
}

.accueilDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5% 1%;
}


.img1 {
  width: 26.5%;
}

@media screen and (max-width:799px) {
  .accueilIntro {
    font-size: 17px;
  }
  .accueilDiv {
    display: block;
  }
  .img1 {
    width: 45%;
  }
}

.AccueilP {
  width: 90%;
  margin: 0 auto 2%;
}
.AccueilP h1 {
  margin: 1%;
}

.AccueilP p {
  background-color: #f3efe4;
  padding: 1.2%;
}

.DivImages {
  display: flex;
  justify-content: space-around;
  width: 95%;
  margin: auto;
}
.DivImages img {
  width: 20%;
  padding: 0.5%;
  background-color: #f3efe4;
}

.inspiration h1 {
  width: 75%;
  margin: auto auto 3%;
}

.divPrincipale {
  display: flex;
  margin: 1%;
  background-color: #f3efe4;
}

.div1 , .div2 , .div3 {
  margin: 1%;
}

.div1 img  , .div2 img  {
  width: 50%;
}

.div3 img {
  width: 50%;
}

.div1 , .div2 , .div3  {
  width: 40%;
}


@media screen and (max-width:799px){
  .inspiration h1 {
    font-size: 15PX;
  }
  .divPrincipale {
    display: block;
  }
  .div1 , .div2 , .div3 {
    width: 100%;
  }
}

.div1 p , .div2 p , .div3 p {
  padding: 4%;
  text-align: justify;
}
