* {
    margin: 0;
    padding: 0;
}

/* MENU DEROULANT */
nav {
    margin: 0 auto;
    position: sticky;
    top: 0;
}

.navHeader {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.navHeader li {
    float: left;
    width: 50%;
    text-align: center;
    list-style: none;
}

nav .navHeader a {
    display: block;
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: orange;

}

.sous {
    display: none;
    position: absolute;
    width: 30%;
    
}

nav > .navHeader li:hover .sous {
    display: flex;
    justify-content: center;

}

.deroulant >a::after {
    content: "▼";
}

/* FOOTER */

footer{
  width: 100%;
  padding: 1rem 0;
}
.footer-éléments{
  max-width: 1300px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.newsletter, .sites-externes, .catégories, .revenir-en-haut{
  flex: 1 0;
  margin: 0 1rem;
}
.newsletter input{
  width: 100%;
}
.newsletter input::placeholder, .newsletter input textarea{
  text-align: center;
}
.sites-externes, .catégories, .revenir-en-haut{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.catégories nav, .footer-nav-catégories{
  height: 100%;
}
.footer-nav-catégories, .footer-nav-sites-externes{
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (max-width:799px) {
  .footer-éléments{
    flex-direction: column;
  }
}

/* AUTRES */

h6{
  margin-top:0;
}
